//mat-icon:only-child {
//  overflow: hidden;
//  width: 64px;
//  height: 64px;
//  border-radius: 50%;
//  margin: 12px;
//}
//
//mat-icon.svg {
//  overflow: hidden;
//  width: 64px;
//  height: 64px;
//  border-radius: 50%;
//  margin: 12px;
//}
//
//mat-icon .avatar {
//  overflow: hidden;
//  width: 64px;
//  height: 64px;
//  border-radius: 50%;
//  margin: 12px;
//}
//
//mat-icon .svg {
//  overflow: hidden;
//  width: 64px;
//  height: 64px;
//  border-radius: 50%;
//  margin: 12px;
//}
//
//mat-icon svg {
//  overflow: hidden;
//  width: 64px;
//  height: 64px;
//  border-radius: 50%;
//  margin: 12px;
//}
//
.card {
  width: 50%;


}

.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  //margin: 12px;
}

mat-icon {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
