<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
    <mat-card class="card">
        
        <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab">
            <mat-tab label="帐号信息">
                <mat-card-title>登录：</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input type="text" matInput placeholder="您的Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="您的姓名" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="您的密码" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="重复输入您的密码" formControlName="repeat">
                    </mat-form-field>
                    <app-image-list-select
                            [useSvgIcon]="true"
                            cols="6"
                            [title]="'选择头像'"
                            [items]="items"
                            formControlName="avatar"
                    ></app-image-list-select>
                    <button type="button" color="primary" mat-button mat-raised-button>注册</button>
                </mat-card-content>
            </mat-tab>
            
            <mat-tab label="个人信息">
                <app-identity-input formControlName="identity" class="full-width">
                </app-identity-input>
                <div class="full-width control-padding">
                    <app-date-input formControlName="dateOfBirth"></app-date-input>
                </div>
                <div class="full-width control-padding">
                    <app-area-list formControlName="address"></app-area-list>
                </div>
                <div class="full-width">
                    <button mat-raised-button type="button">上一步</button>
                    <button mat-raised-button type="submit" [disabled]="!form.valid">注册</button>
                    <span class="fill-remaining-space"></span>
                    <span>
                        <span>已有账户？ <a routerLink="/login">登录</a></span>
                        <span>忘记 <a routerLink="/forgot">密码？</a></span>
                     </span>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</form>
