<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>登录：</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput class="full-width" style="text-align: right;" placeholder="您的Email">
                <span matSuffix>@abc.com</span>
            </mat-form-field>
            <mat-form-field>
                <input matInput class="full-width" placeholder="您的密码">
            </mat-form-field>
            <button type="button" mat-button mat-raised-button>登录</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>还没有账户? <a href="">注册</a></p>
            <p>忘记密码? <a href="">找回</a></p>
        </mat-card-actions>
    </mat-card>
</form>
<router-outlet></router-outlet>
