mat-card {
  width: 20em;
  height: 26em;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-right {
  margin: 10px;
  text-align: end;

  a {
    color: #b2ad6c;
    text-decoration: none;
  }
}
