@import "~@angular/material/theming"; // 导入基础的主题支持
// 导入基础风格
@include mat-core();


$my-app-primary: mat-palette($mat-indigo); // 主颜色，其他三个参数先不设置
$my-app-accent: mat-palette($mat-pink, A200, A100, A400); // 定义次要颜色，后面三个参数分别是亮色？深夜主图色
$my-app-warn: mat-palette($mat-red); // 错误颜色

/**
 * @Description: 构建白天主题色
 */
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// 构建主题
@include angular-material-theme($my-app-theme);

/**
 * @Description: 黑夜主题
 */
$my-dark-primary: mat-palette($mat-blue-gray); // 主颜色，其他三个参数先不设置
$my-dark-accent: mat-palette($mat-amber); // 定义次要颜色，后面三个参数分别是亮色？深夜主图色
$my-dark-warn: mat-palette($mat-deep-orange); // 错误颜色

/**
 * @Description: 构建白天主题色
 */
$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent);

// 构建主题
.myapp-dark-theme {
  @include angular-material-theme($my-dark-theme);
}

